@charset "UTF-8";
/*reset css start*/
* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

html,
body {
  font-size: 15px !important;
  height: auto !important;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*reset css end*/
/*varibale start*/
/*varibale end*/
/*mixin start*/
/*mixin end*/
header {
  display: flex;
  padding: 0.625rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: 87px;
  height: 50px;
}
header .navigation nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
header .navigation nav ul li a {
  color: #000;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-decoration: none;
}
header .navigation nav ul li a:hover {
  background-color: #f1f5f9;
  border-radius: 0.5rem;
}
header .button-cntnr button {
  width: 110px;
  height: 38px;
  background-color: #000;
  border-radius: 50px;
  font-size: 0.938rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  justify-content: center;
}

.hero_banner-outer {
  height: 147vh;
}
.hero_banner-outer .hero_banner {
  background-color: #0d0028;
  height: 100vh;
  background-image: url(../images/circle.jpg);
  background-size: 75%;
  background-position: center 70px;
  background-repeat: no-repeat;
  padding: 65px 0px;
}
.hero_banner-outer .hero_banner .hero_text {
  text-align: center;
}
.hero_banner-outer .hero_banner .hero_text .linear-text-gradient {
  background: linear-gradient(to top, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.hero_banner-outer .hero_banner .hero_text p.create_text {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 23px;
}
.hero_banner-outer .hero_banner .hero_text h1.affordable_text {
  color: #fff;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 500;
}
.hero_banner-outer .hero_banner .hero_text label {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #fff;
  margin-top: 1.875rem;
}
.hero_banner-outer .hero_banner .hero_btn_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.hero_banner-outer .hero_banner .hero_btn_cont button {
  background-color: #6921a0;
  width: auto;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.938rem;
  border: 0;
  font-weight: 500;
  color: #fff;
  padding: 0px 15px;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.hero_banner-outer .hero_banner .hero_btn_cont button:hover {
  margin-top: -10px;
}
.hero_banner-outer .hero_banner .hero_btn_cont button + button {
  background-color: #fff;
  color: #000;
}
.hero_banner-outer .hero_banner .all-order-bg {
  margin-top: 50px;
  position: relative;
  display: flex;
}
.hero_banner-outer .hero_banner .all-order-bg .hooper-div {
  max-width: 350px;
  width: 100%;
  position: absolute;
  left: 58px;
  top: 130px;
}
.hero_banner-outer .hero_banner .all-order-bg .hooper-div img {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}
.hero_banner-outer .hero_banner .all-order-bg .hooper-div img:hover {
  transform: scale(1.1);
}
.hero_banner-outer .hero_banner .all-order-bg .all-order-img {
  max-width: 700px;
  width: 100%;
  margin: auto;
}
.hero_banner-outer .hero_banner .all-order-bg .all-order-img img {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.hero_banner-outer .hero_banner .all-order-bg .analytics_div {
  max-width: 300px;
  position: absolute;
  right: 57px;
  top: 50px;
}
.hero_banner-outer .hero_banner .all-order-bg .analytics_div img {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}
.hero_banner-outer .hero_banner .all-order-bg .analytics_div img:hover {
  transform: scale(1.1);
}

.best_startup_section {
  max-width: 83%;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.best_startup_section .inner_text {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.best_startup_section .inner_text span {
  font-size: 45px;
  color: #1a1a1a;
  font-weight: 1000;
}
.best_startup_section .inner_text .achievement-rating-ct:before {
  content: "★★★★★";
  background: linear-gradient(90deg, #68c5ed 100%, #b5dbee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.best_startup_section .inner_text .achievement-rating-g2:before {
  content: "★★★★★";
  background: linear-gradient(90deg, #ef4b2e 100%, #f79f92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.best_startup_section .inner_text .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1.5;
}
.best_startup_section .inner_text p {
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 1000;
}
.best_startup_section .inner_text .img-logo {
  text-align: center;
}
.best_startup_section .inner_text .img-logo img {
  width: 100px;
}
.best_startup_section .inner_text .img-logo img.sofware_advise {
  max-width: 140px;
  width: 100%;
}

.high-perfomence {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.high-perfomence h3 {
  font-size: 3rem;
  color: #1a1a1a;
  line-height: 1.25;
  font-weight: 600;
}
.high-perfomence .creative-visually {
  position: relative;
}
.high-perfomence .creative-visually p {
  font-size: 17px;
  color: #1a1a1a;
  margin-bottom: 22px;
}
.high-perfomence .creative-visually button {
  background-color: #1f2937;
  border-radius: 50px;
  color: #fff;
  border: 0px;
  width: 192px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  position: absolute;
  bottom: -36px;
}
.high-perfomence .creative-visually button:hover {
  bottom: -26px;
}

.qpe-card-cntnr {
  display: flex;
  margin-top: 75px;
}
.qpe-card-cntnr .pad-right {
  padding: 0px 7.5px;
}
.qpe-card-cntnr .qpe-cards {
  border: solid 1px #1f2937;
  padding: 1.25rem;
  border-radius: 0.75rem;
  min-height: 380px;
}
.qpe-card-cntnr .qpe-cards h5 {
  font-size: 14px;
  color: #1a1a1a;
  text-transform: uppercase;
}
.qpe-card-cntnr .qpe-cards h3 {
  font-size: 48px;
  color: #1a1a1a;
  font-weight: 700;
}
.qpe-card-cntnr .qpe-cards p {
  font-size: 16px;
  color: #1f2937;
  font-weight: 500;
  border-bottom: solid 1px #6b7280;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.qpe-card-cntnr .qpe-cards p + p {
  padding: 20px 0 0 0;
  border-bottom: 0;
}

.partners {
  border: solid 1px #d1d5db;
  border-radius: 0.5rem;
  padding: 3rem;
  margin-top: 90px;
}

.simplyfying-ecomm {
  background: #e6e6fa;
  padding: 3rem;
}
.simplyfying-ecomm .simmply-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.simplyfying-ecomm .simmply-btn button {
  width: 134px;
  height: 34px;
  background-color: #bbd6e3;
  border: 0px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.75rem;
  color: #0d9488;
  line-height: 1rem;
  margin-bottom: 15px;
}
.simplyfying-ecomm .simmply-btn h3 {
  font-size: 3rem;
  color: #1a1a1a;
  font-weight: 600;
}
.simplyfying-ecomm .transform-img {
  text-align: center;
}

.create-sale-front {
  margin-top: 70px;
}
.create-sale-front h3 {
  font-size: 18px;
  color: #1a1a1a;
  font-weight: 700;
}
.create-sale-front p {
  font-size: 1rem;
  color: #374151;
  font-weight: 600;
  margin-top: 10px;
  padding: 0px 20px 0px 0px;
}

.reach_customers {
  padding: 100px 0px;
}
.reach_customers h3 {
  font-size: 3rem;
  color: #1a1a1a;
  font-weight: 600;
  line-height: 1.25;
}
.reach_customers p {
  font-size: 1rem;
  color: #374151;
  line-height: 1.5;
  font-weight: 600;
  padding-top: 7px;
}

/*scroll card start*/
#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
  margin-top: -20px;
}

#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

#card5 {
  --index: 5;
}

.card {
  position: sticky !important;
  top: 120px;
  padding-top: calc(var(--index) * var(--cardTopPadding));
  border: 0 !important;
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .card {
    position: relative;
    top: 0;
    padding-top: 20px;
  }
  #cards {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
  }
}
:root {
  --cards: 5;
  --cardHeight: 35vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

/*scroll card end*/
.sell-smart {
  margin-top: 223px;
  padding: 30px 0px;
}
.sell-smart h3 {
  font-size: 48px;
  color: #1a1a1a;
  font-weight: 600;
}
.sell-smart p {
  font-weight: 600;
  font-size: 17px;
  color: #1a1a1a;
  padding-top: 2px;
}

.autoplay-slider {
  border: solid 1px #d1d5db;
  border-radius: 0.5rem;
  padding: 3rem 0;
  margin-top: 45px;
}
.autoplay-slider .owl-dots {
  display: none !important;
}
.autoplay-slider img {
  width: 80px !important;
}

.qpe-theme {
  background-color: #cde4e1;
  padding: 100px 0 30px 0;
  margin-top: 100px;
}
.qpe-theme .qpe-head-text-sec {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.qpe-theme .qpe-head-text-sec .qpe-head-text-sec-left h3 {
  font-size: 3rem;
  font-weight: 600;
  color: #1a1a1a;
}
.qpe-theme .qpe-head-text-sec .qpe-head-text-sec-right p {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 600;
  padding-top: 2px;
}

.built-inner {
  margin-top: 80px;
}
.built-inner h3 {
  font-size: 3rem;
  font-weight: 600;
  color: #1a1a1a;
}
.built-inner p {
  font-weight: 500;
  font-size: 1rem;
  color: #1a1a1a;
  padding-top: 5px;
}

.tab-bootstrap {
  margin-top: 55px;
}
.tab-bootstrap .tab-content {
  background-color: #e0e7ff;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 40px;
}
.tab-bootstrap nav {
  background-color: #f1f5f9;
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  margin-bottom: 15px;
  padding: 0px 10px;
}
.tab-bootstrap nav .nav-link {
  color: #74648b;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}
.tab-bootstrap nav .nav-link.active {
  background-color: #1f2937;
  border-radius: 0.5rem;
  color: #fff;
}
.tab-bootstrap nav #nav-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.tab-bootstrap .tab1-qpe {
  display: flex;
  justify-content: space-between;
}
.tab-bootstrap .tab1-qpe button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tab-bootstrap .tab1-qpe h3 {
  font-size: 30px;
  color: #1a1a1a;
  font-weight: 700;
}
.tab-bootstrap .tab1-qpe p {
  font-size: 1rem;
  color: #1a1a1a;
  font-weight: 600;
  margin: 15px 0 25px 0;
}
.tab-bootstrap .tab1-qpe .rounded-img-qpe {
  padding-left: 50px;
}
.tab-bootstrap .tab1-qpe .rounded-img-qpe img {
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.customize-store {
  margin-top: 120px;
  display: flex;
}
.customize-store .pad-30 {
  padding-left: 50px;
}
.customize-store h3 {
  color: #1a1a1a;
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 600;
  margin-top: 20px;
}
.customize-store p {
  color: #1f2937;
  font-weight: 600;
  color: #1a1a1a;
  margin: 25px 0;
}
.customize-store ul {
  margin-bottom: 30px;
}
.customize-store ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #374151;
  font-size: 1rem;
  font-weight: 600;
}
.customize-store ul li img {
  width: 20px;
}

.powering-sec .align-left {
  text-align: left;
}
.powering-sec .subscribe-img {
  -webkit-clip-path: circle(100.4% at 98% 107%);
          clip-path: circle(100.4% at 98% 107%);
  height: 100%;
}

.autoplay-slider-qpe {
  background: #10002a;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-marquee {
  animation: marquee 45s linear infinite;
}

/*media query start*/
@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}
.animate-zoom {
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.bootstrap-tab-qpe .nav > div {
  margin-bottom: 30px;
}
.bootstrap-tab-qpe nav {
  flex-direction: column;
  background-color: transparent;
  height: auto;
}
.bootstrap-tab-qpe .first-click-div {
  border-bottom: solid 1px #d1d5db;
  padding-bottom: 1.25rem;
}
.bootstrap-tab-qpe .tab-content {
  background-color: transparent;
  padding: 0;
}
.bootstrap-tab-qpe .sellin-prod {
  margin-bottom: 25px !important;
  width: 115px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bootstrap-tab-qpe .pad-left-60 {
  padding-left: 60px;
}
.bootstrap-tab-qpe .leading-normal {
  font-weight: 600;
  margin-bottom: 20px;
}

.margin-left-first-child:first-child {
  margin-left: 200px;
}

.height-fix img {
  height: 350px;
}

.owl-new .owl-nav {
  display: flex !important;
  width: 70%;
  margin: 40px auto 0px auto !important;
  justify-content: space-between;
}
.owl-new .owl-dots {
  position: absolute;
  bottom: 13px;
  left: 42%;
}
.owl-new .owl-prev,
.owl-new .owl-next {
  background-color: #1f2937 !important;
  width: 80px;
  height: 48px;
  border-radius: 50px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.owl-new-class {
  background-color: #F5FFFA;
  padding: 2rem;
}
.owl-new-class .owl-next {
  font-size: 0px !important;
  background-image: url(../images/right-arrow.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.owl-new-class .owl-prev {
  font-size: 0px !important;
  background-image: url(../images/left-arrow.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.pricing #brands h3 {
  font-weight: 600;
}
.pricing #top {
  margin-top: -10px;
}
.pricing .accordion-button::after {
  background-image: url(../images/add.png);
  background-size: 16px;
}
.pricing .accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus.png);
  transform: rotate(-180deg);
}
.pricing .plus-minus-tab .accordion-body {
  color: #fff;
  padding: 0rem 0rem 1.5rem 0px;
  font-size: 16px;
}
.pricing .plus-minus-tab .collapse {
  visibility: inherit;
}
.pricing .plus-minus-tab .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: 0px 0px 0px;
  padding-left: 0;
}
.pricing .plus-minus-tab .accordion-item {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #fff;
  border-radius: 0;
}
.pricing .plus-minus-tab .accordion-header button {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 0 !important;
  padding: 25px 0px;
}
.pricing .plus-minus-tab .accordion-header button:hover {
  text-decoration: underline;
}

.logos-slide {
  animation: 45s slide-scroll infinite linear;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
  content: "";
}

@keyframes slide-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.logos-slide {
  animation: 45s slide-scroll infinite linear;
}

Mobile CSS .logos-slide {
  animation: 30s slide-scroll infinite linear;
}

.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 2;
  content: "";
}

.features-table-container {
  display: none;
}

#buttonText1 {
  display: none;
}

.features-list li::marker {
  content: "✔️";
}

.bdr-btm {
  border-bottom: solid 1px #000 !important;
}

.features-list li {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */